@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Satisfy&display=swap');
*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    font-family: 'Fira Sans', sans-serif;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration:none;

}
p{
    font-size: 1.2rem;
    text-align: justify;

}

.dotted-hr{
    border: dotted 6px #fff;
    border-top: none;
    width: 70px;
    margin:0 auto;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}


/* for Mobile */

[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
   
}
.navbar h1{
    color:#fff;
    margin: 0;
    padding-top: 10px;
}
.navbar .navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar .navbar-menu a{
    background-color:#40868b;
    border-radius: 10px;
    margin: 7px 0;
    padding:10px;
}
.navbar .navbar-menu a:hover{
    background-color: gray;
}
.navbar::after{
    content: '';
    clear: both;
    display: table;
}

/* Navbar dsesign end here */

 /* Profile starts Here  */

.profile{
    padding:130px 10px;
    text-align: center;
    position: relative;
}
.profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 10px;
    transition: transform 2s;

}
.profile .top-weather-icon:hover{
    transform: rotate(360deg);

}

.profile .profile-desc h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}
.profile .profile-desc p{
    color:gray;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
}
 /* Profile ends  Here  */
 .profile .bottom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;

}
.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);

}
.profile::after{
    content: '';
    clear: both;
    display: table;
}

/* About me designed start */
main .about-me{
    background-color: #39a4a6;
    padding:1% 7%;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.about-me .aboutme-image img{
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.about-me p{
    text-align: center;
}
.about-me p a{
    font-size: 1.2rem;
}
.about-me p a .cv-btn{
    background-color: #052d2f;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding:15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
.about-me::after{
    content: '';
    clear: both;
    display: block;
}

/* About me designed Ends */

/* Prfetional Experience start here */
.profetional-experience{
    padding:1% 0%;
}
.profetional-experience img{
 /* height: 50px; */
 width: 80px;
}
.profetional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding:10px;
    transition: 0.3s;
    min-height: 700px;
}
.profetional-experience .card:hover{
    box-shadow: 0 4px 8px 5px #333;
}



.card .card-icon{
    text-align: center;
}
.rounded-img{
    border: 5px solid #fff;
    border-radius: 50px;
    padding:8px;
}
.card .card-title h2{
    background-color: #616161;
    color: #fff;
    padding:10px;
    text-align: center;
    border-radius: 5px;
}

/* Skills */
.skills-container{
    padding: 45px;
    padding-top: 0;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    text-transform: uppercase;
    position: relative;
}
.skills-container li.html::after{
  animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
    }
}
.skills-container li.css::after{
  animation-name: css;
}
@keyframes css{
    to{
        width: 60%;
    }
}
.skills-container li.js::after{
  animation-name: js;
}
@keyframes js{
    to{
        width: 90%;
    }
}
.skills-container li.bootstrap::after{
  animation-name: bs;
}
@keyframes bs{
    to{
        width: 50%;
    }
}

.skills-container li.Jquery::after{
  animation-name: jq;
}
@keyframes jq{
    to{
        width: 30%;
    }
}

.skills-container li.django::after{
  animation-name: django;
}
@keyframes django{
    to{
        width: 15%;
    }
}
.skills-container li.react::after{
  animation-name: react;
}
@keyframes react{
    to{
        width: 15%;
    }
}
.skills-container li.github::after{
  animation-name: github;
}
@keyframes github{
    to{
        width: 30%;
    }
}
.skills-container li.mysql::after{
  animation-name: mysql;
}
@keyframes mysql{
    to{
        width: 10%;
    }
}

.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height:10px;
    background-color: #56569b;
    opacity: .5;
    border-radius: 1000px;
}
.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height:10px;
    background-color: #56569b;
    opacity: 1;
    border-radius: 1000px;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
/* Achieve Contact ends section */
.profetional-experience::after{
    content: '';
    clear: both;
    display: block;
}

.achievement-contact{
    /* padding:1% 7%; */
    background-color: #39a4ac;
    color: #fff;
    
}

/* Contact Start */
.contact{
    text-align: center;
    padding:1% 7%;
}

.contact input, textarea{
    width: 100%;
    padding:10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    resize: none;
}
.contact button{
    border: none;
    border-radius: 12px;
    background-color: #052d2f;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    width: 100px;
}
.contact-links{
    text-align: center;
}
.contact-links .media-button{
    margin-top: 20px;
}
.contact-links .media-button .btn{
    border: none;
    border-radius: 25px;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    width: 50px;
    background-color: #fff;
}
.contact-links .media-button .btn:hover{
    background-color: gray;
}



.achievement-contact::after{
    content: '';
    clear: both;
    display: block;
}


/* Achieve Contact ends section */
/* Footer start form here */

.footer{
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align:center;
    font-size: 0.8rem;


}
.footer .footer-menu a{
 display: block;
 margin: 15px 0;
 font-size: 1rem;
}
.footer .footer-menu a:hover{
 color: gray;
}



.footer::after{
    clear: both;
    content: '';
    display: block;
}
/* Footer end form here */